.FormContainer {
    width: 100% !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../Assert/123.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.FormContainerBorder {
    border-radius: 50px;
    width: 75%;
    height: 95%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: FormContainerBorderAnimation 1s;
}

.FormContainerForm {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes FormContainerBorderAnimation {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0px);
    }
}

.FormHeaderBox {
    margin-top: 15px;
    animation: FormItemAnimation 1s;
}

.FormHeader {
    font-size: 32px !important;
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 800 !important;
    color: #262626;
}

.FormBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
    height: 100%;
}

.FormBox button {
    animation: FormItemAnimation 1s;
}

.FormItem {
    margin-top: 25px !important;
    animation: FormItemAnimation 1s;
}

@keyframes FormItemAnimation {
    from {
        transform: translateY(1000px) scale(0);
    }

    to {
        transform: translateY(0px) scale(1);
    }
}




.FormContainer-SVG {
    width: 40%;
    height: 100%;
    border-radius: inherit;
}

.DigiMetaSchoolsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px !important;
    animation: FormItemAnimation 1s;
}

@media only screen and (max-width: 1024px) {

    .FormContainerBorder {
        flex-direction: column !important;
        overflow: auto;
    }

    .FormContainer-SVG {
        width: 100%;
        height: 60% !important;
    }

    .FormContainerForm {
        width: 100%;
    }


}

@media only screen and (max-height: 820px) {
    .FormBox {
        overflow: auto;
    }
}

@media only screen and (max-width: 415px) {
    .FormContainer-SVG {
        display: none;
    }

    .FormHeader {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 360px) {
    .FormContainer-SVG {
        display: none;
    }

    .FormHeader {
        font-size: 20px !important;
    }

    .DigiMetaSchoolsBox p {
        font-size: 12px !important;
    }
}

@media only screen and (max-height: 415px) {
    .FormContainer-SVG {
        display: none;
    }

    .FormHeader {
        font-size: 25px !important;
    }
}